

@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot'); /* IE9 Compat Modes */
  src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('roboto.woff') format('woff'), /* Modern Browsers */
  url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url(../fonts/AirbnbCerealBook.ttf );
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Eksell Display ;
  src: url(../fonts/Eksell\ Display\ Medium\ [TheFontsMaster.com].otf);
}

body {
 background-color: #E5E5E5; 
 font-family: 'Airbnb Cereal App' ;
 src: url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&subset=cyrillic');
}


/*backup*/

*{
  padding: 0;
  margin: 0;
  
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
   -ms-box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

header,nav,aside,footer{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,texarea {font-family:inherit;}

input ::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0; border:0;}
a, a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul.li{list-style:none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400px;}


/*mainSection*/

@media (max-width: 1440px){
  .mainSection{
    
  }
}

@media (max-width: 940px){
  .categoryForm{
    width: 600px;
    flex-direction: column;
  
  }
}

@media (max-width: 1300px){
  .textSection{
    flex: none;
  }
}

.mainSection{
  margin: 350px auto;
  width: 1440px;

}

/* Header Section Top */

.headerSection{
 background-color: #F8F8F8;
 padding: 25px 135px;
 max-width: 1440px;
 max-height: 900px;
  }

  .mainIconBlock{
    display: flex ;
    padding-top: 15px;
    margin-right: auto;
  }

  .tripIcon,.goalIcon{
   margin-right: 2px;
  }

  .iconclips{
    margin: 10px 25px 0 0;
  }

  .navigateSection {
    display: flex;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color:  #002248;
    }

  .menuLine{
    margin-top: 18px;
    text-align: center;
  }

  .homeText {
    color: #3685fb;
  }


  a{
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color:  #002248;
  }

  ul.menuList > li {
  display: inline;
  padding-right:40px;
  }

  .registerButtonBlock{
    margin-left: auto;
  }

  .registerButton {
    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    background-color: #3685fb;
    color: white;
    border-radius: 15px;
    border-color: white;
    width: 120px;
    height: 50px;
  }




/* header section center */


.headerSectionImg{
  display: flex;
}

.imgHeader{
  position: relative; 
}

.imgHeaderLeft {
  max-width: 400px;
  max-height: 540px;
  border: 10px solid #ffffff;
  border-radius: 570px;
  margin: 20% 0 40% 0;
}

.imgHeaderRight {
  position: absolute;
  max-width: 320px;
  max-height: 430px;
  left: 250px;
  top: 250px;
  border-radius: 570px;
  border: 10px solid #ffffff;
 }

 .textSection{
    float: right;
    max-width: 520px;
    max-height: 150px;
    margin: 15% 0% 0% 22% ;
    }

 h1{
   font-family:'Eksell Display' ;
   font-style: normal;
   font-weight: 550;
   font-size: 60px;
   line-height: 72px;
   padding-top:10px;
  }

  h2{ 
    font-family:'Eksell Display' ;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 52px;
    padding:10px 0 20px 0 ;
  }

  h3{
    font-family:'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    padding-top: 50px;
  }

  h4{
    font-family:'Airbnb Cereal App';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #00B3A0;
  }

  .roketIcon{
    padding:2% 0 0 2%;
    }

  .sectionTopText{
    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #697687;
    padding: 50px 0;
    }

  .startNowButton{
    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    background-color: #3685fb;
    color: white;
    border-radius: 15px;
    border-color: white;
    width: 170px;
    height: 60px;
    }

    /* Category Form */

    .categotySection{
      position: relative;
    }

    .categoryForm{
      position:absolute;
      display: flex; 
      background-color: #FCFCFC; 
      border-radius: 15px;
      bottom:-80px;
      right: 15%;
      max-width: 980px;
      max-height: 145px;
      }

 

    .select {
      display: block;
      position: relative;
      max-width: 215px;
      margin-right: 40px;
      width: 100%;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      padding-right: 15px;
      background-color: #FCFCFC; 
      border: none; 
    }

    .new-select {
      position: relative;
      padding: 10px 15px;
      cursor: pointer;
      user-select: none;
    }

    .new-select__list {
      position: absolute;
      top: 45px;
      left: 0;
      cursor: pointer;
      width: 100%;
      z-index: 2;
      background:  #3685fb;
      user-select: none;
      border-radius: 10px;
    }

    .new-select__list.on {
      display: block;
    }

    .new-select__item span {
      display: block;
      padding: 10px 15px;
    }

    .new-select__item span:hover {
      color: white;
    }

    .new-select:after {
      content: '';
      display: block;
      width: 16px;
      height: 9px;
      position: absolute;
      right: 15px;
      top: 15px;
      background: url('../icon/VectorArrow.svg') no-repeat right center / cover;
      opacity: 0.6;

      -webkit-transition: all .27s ease-in-out;
          -o-transition: all .27s ease-in-out;
              transition: all .27s ease-in-out;

      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    .new-select.on:after {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  

    .selectText{
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #697687;
    margin: 20px 17px;
    }

  .category{
    background-color: #FCFCFC; 
    margin: auto auto;
    padding-right: 45px;
    }

    .bookNowButton{
    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    background-color: #3685fb;
    color: white;
    border-color: white;
    width: 210px;
    height: 145px;
    border-top-right-radius:15px ;
    border-bottom-right-radius: 15px;
    }

  .bookNowButtonIcon{
    margin: 10px auto;
  }


      /*Steps Section*/

.stepsSection{

  background-color: white;
  padding: 0 135px;
}

.stepsTextContainer{
  text-align: center;
  padding-top: 190px;
  }

.stepsSectioneText{
  font-family: 'Airbnb Cereal App';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #697687;
  }

.containerBlock{
  display: flex;
  text-align: center;
  padding-top:70px ;
  }

  .selectBlock{
   width: 370px;
   height: 395px;
   border: 2px solid #F8F8F8;
   margin: 0 30px 120px 0;
  }

  .imgSelectBlock{
    padding-top: 85px;
  }

  .imgSelectBlock2{
    padding-top: 75px;
   }

  .sectionCenterText{
    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #697687;
    padding: 20px 0 70px 0;
    }

    /*Location Section*/

    .locationSection{
      background-color: #F8F8F8 ;
      padding: 120px 135px;
    }

    .locationBlockText{
      text-align: left;
    }

    .sectionLocationText{
    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #697687;
    padding-bottom: 50px;
    }

    .locationSectionTop{
    display: flex;
    position: relative;
    }

    .slick-arrow{
      position: absolute;
      z-index: 3;
      top: -100px;
      border-radius: 5px;
      border: none;
      width: 50px;
      height: 50px;
      font-size: 0;
      cursor: pointer;
    }

    .slick-prev{
      background-color: #FFFFFF;
        right: 78px;
      }

    .slick-prev::after{
        content: url(../icon/Vector2.png);
      }

    .slick-next{
      background-color:#3685FB;
      right: 13px;
    }

    .slick-next::after{
      content: url(../icon/Vector1.png);
    }

    .locationSectionImg{
      display: flex;
    }

    .locationSectionTravelImg{ 
      border: 6px solid #FFFFFF;
      border-radius: 20px;
    }

    /* Button Section  Indonesia*/

    .locationSectionTravelButtonBlock{
      position: relative;
      }
    
    .placeBlockleft{
      text-align: left;
    }

    .placeBlockright{
     float: right;
    }

    .locationSectionTravelButtonPlace{
      position:absolute;
      background: rgba(0, 34, 72, 0.3);
      backdrop-filter: blur(9px);
      border-radius: 10px;
      width: 310px;
      padding: 20px;
      bottom: 35px;
      left: 35px;
      font-family: 'Eksell Display';  
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      color: #FFFFFF;
      border: none;
    }

    .place{
      text-align: left;
      font-family: 'Airbnb Cereal App';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      color:#FFFFFF ;
      padding-top: 15px;
    }

    .price{
      float: right;
      font-family: 'Airbnb Cereal App';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
    }


    /*Map Section*/

    .sectionAnimation{
      
    }

    .sectionAnimationImage{
      position: relative;
      background-image:url("../image/imageSea.jpg");
      width: 1440px;
      height: 690px; 
      
    }

    .imgVektor{
      position: absolute;
      right: 0;
    }

    .mapBlockText{
    position: relative;
    float: right;
    padding: 150px 175px 0 0;
    }


    .playMap{
      position: relative;
      top:40%;
      left:13%;
      border-radius: 50%;
      border: none;
    }

    .imgCompas{
      position: relative;
      top: 88%;
      left:38%;
    }

    /* About Us Section */

    .sectionAboutUs{
      background-color: white;
      padding: 145px 135px;
    }

    .imgAbousUs{
     position: relative;
     }


     .imgAboutUsLeft{
      position: absolute;
      width: 320px;
      height: 456px;
      right: 250px;
      bottom: 50px;
      border: 10px solid #FFFFFF;
      border-radius: 570px;
      }

     .imgAboutUsRight{
      position: absolute;
      width: 400px;
      height: 610px;
      right: 0;
      bottom: 70px; 
      border: 10px solid #FFFFFF;
      border-radius: 570px;
     }

     .bluBox{
      text-align: center;
      width: 150px;
      height: 130px;
      border: 2px solid #F8F8F8;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 32px 0 ;
      margin: 26px 13px;
      font-family: Airbnb Cereal App;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;
     }

     .BluBoxSectionTop{
       display:flex;
     }

     .BluBoxSectionBotton{
       display: flex;
    }

     .bluBoxTextTop{
      font-family: Eksell Display;
      font-style: normal;
      font-weight: 550;
      font-size: 32px;
      line-height: 34px;
      color: #3685FB;
     }

     .bluBoxTextBotton{
      font-family: Airbnb Cereal App;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;
     }

     /* Customer Section*/


     .customerSection{
       position: relative;
       padding: 120px 135px 0 135px;
       background-color: #F8F8F8;
     }

     .CustomerBlockText{
       text-align: center;
     }

     .peopleMainFrame{
      display: flex;
      align-items: center;
      justify-content: center;
     }

     .mapPeopleMainFrame{
       position: relative;
     }
     .mapPeopleMainFrame svg {
       position: absolute;
       top:0;
       left:0;
     }
     
     .customer{
       fill: none;
       stroke:none;
       cursor: pointer;
       pointer-events: all;
     }

     .tooltip{
        position: absolute;
        left: 0;
        top: 0;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  
        display: none;
      }
        
      .info__bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        transition: 0.3s all;
        pointer-events: none;
        z-index: 10;
      }

      .info__bg.active {
        pointer-events: all;
        opacity: 1;
        transition: 0.3s all;
      }

      .info {
        position: absolute;
        text-align: center;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 20px;
        padding: 25px;
        width: 500px;
        height: 230px;
        /*
        visibility: hidden;
        opacity: 0;
        */
      }
        
        
          /*
      .frame11,.frame12,.frame13,.frame14,
     .frame15,.frame16,.frame9,.frame10{
       position: absolute;
     }

     .frame11{
      left: 16.25%;
      right: 78.61%;
      top: 21.19%;
      bottom: 68.87%;
     }

     .frame12{
      left: 87.77%;
      right: 7.96%;
      top: 47.68%;
      bottom: 44.04%;
     }

     .frame13{
      left: 18.65%;
      right: 77.07%;
      top: 44.54%;
      bottom: 47.19%;
     }

     .frame14{
      left: 8.38%;
      right: 86.48%;
      top: 57.62%;
      bottom: 32.45%;
     }

     .frame15{
      left: 80.67%;
      right: 14.2%;
      top: 72.85%;
      bottom: 17.22%;
     }

     .frame16{
      left: 19.76%;
      right: 75.11%;
      top: 79.97%;
      bottom: 10.1%;
     }

     .frame10{
      left: 75.71%;
      right: 19.16%;
      top: 33.77%;
      bottom: 56.29%;
     }

     .frame9{
      left: 45.77%;
      right: 45.68%;
      top: 20.86%;
      bottom: 62.58%;
     }
      */


     .CustomerBlockTitle{
      position: absolute;
      Width :500px;
      Height :230px;
      padding: 32px 0px;
      top: 257px;
      left: 336px;
      text-align: center;
      background-color: white;
      font-family: Airbnb Cereal App;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      border-radius: 15px;
     }

     .customerText{
       padding: 22px 50px 14px 50px ;
     }

     .customerAdamText{
      font-family: Airbnb Cereal App;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #002248;
      padding-bottom: 2px;
     }

     .travellerText{
      font-size: 10px;
      line-height: 14px;
     }

    .group145{
      position: absolute;
      padding-top: 50px ;
      right: 46%;
    }


    /*Instagram Profil Section*/

    .instagramSection{
      background-color: white;
     }

    .instagramBlock{
      display: flex ;
      padding: 100px 135px 55px 135px;
    }

    .instagramBlockText{
      text-align: left;
    }

    .followUsBlockButton{
      margin-left: auto;
      padding-top: 6%;
    }
    .followUsButton{
      font-family: 'Airbnb Cereal App';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      background-color: #3685fb;
      color: white;
      border-radius: 15px;
      border-color: white;
      width: 170px;
      height: 60px;
      }

      /* Slider Instagram */

      .instagramImageSection{
        padding: 0 30px;
      }
      
      .instagramImageSection .slick-dots{
       display: flex;
       color: #FF9800;
       align-items: center;
       justify-content: center;
       
      }

      .instagramImageSection .slick-dots li{
        list-style: none;
      }

      .instagramImageSection .slick-dots button{
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color:black;
        border-radius: 50%;
        border: none;
        margin: 50px 45px 0 0;
      }
      .instagramImageSection .slick-dots .slick-active button{
         background-color: #FF9800;
        
      }

      #imageRoundleft{
        
      }
      
      #imageRoundright{

      }
      
      .imageKwad{
        border-radius: 20px;
      }

      .imageRound{
        border-radius: 570px;
      }
      
      /*Contact Section*/

      .contactsSection{
        background-color: white;
        padding: 140px 135px;
      }

      .contactsUsBlock{
        display:flex;
        max-width: 1000px;
        max-height: 378px;
        background: #F3F8FF;
        border-radius: 40px;
        margin:auto;
        padding-bottom: 80px;
      }

      .contactBlockText{
        padding: 8% 5.7% 8% 8%;
      }

      .footerImg{
        float: right;
        padding: 20px 50px 0 0;
      }

      /*Footer Section*/

       .navigateSectionFooter {
         display: flex; 
         font-style: normal;
         font-size: 16px;
         line-height: 18px;
         color:  #002248;
         margin: 115px  auto 50px auto;
         }
       
         .iconGroupMail{
           margin-left: auto;
           margin-top: 6px;
         }

         .iconFace,.iconMail,.iconInst{
           background-color: white;
           border: none;
         }
         hr{
          border: 1.5px solid rgba(105, 118, 135, 0.1);
         }

         .copyrightsText{
          font-family: Airbnb Cereal App;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 14px;
          text-align: center;
          color: #697687;
          padding-top: 30px;
         }

         /* Popup Section  */ 
        

        .form{
          display:none;
        }
  
        input[type="text"]::-webkit-input-placeholder {
          color: black; 
         }

        
        
        .feedback-input {
          color:black;
          font-family: Helvetica, Arial, sans-serif;
          font-weight:500;
          font-size: 18px;
          border-radius: 0;
          line-height: 22px;
          background-color: #fbfbfb;
          padding: 13px 13px 13px 54px;
          margin-bottom: 10px;
          width:100%;
          box-sizing: border-box;
          border-radius: 10px;
          border: 3px solid #3498db;
        }
        
        .feedback-input:focus{
          background: #3498db;
          box-shadow: 0;
          color: white ;
          outline: none;
          padding: 13px 13px 13px 54px;
        }
        
        
        #name{
          background-size: 30px 30px;
          background-position: 11px 8px;
          background-repeat: no-repeat;
        }
        
        #name:focus{
          background-size: 30px 30px;
          background-position: 8px 5px;
          background-position: 11px 8px;
          background-repeat: no-repeat;
        }
        
        #email{
          background-size: 30px 30px;
          background-position: 11px 8px;
          background-repeat: no-repeat;
        }
        
        #email:focus{
          background-size: 30px 30px;
          background-position: 11px 8px;
          background-repeat: no-repeat;
        }
        
        
        input:hover, input:focus {
          background-color:white;
        }
        
        #button-blue{
          font-family: 'Montserrat', Arial, Helvetica, sans-serif;
          float:left;
          width: 100%;
          border: #0493bd solid 4px;
          cursor:pointer;
          background-color: #0493bd;
          color:white;
          font-size:24px;
          padding-top:22px;
          padding-bottom:22px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          margin-top:15px;
          font-weight:700;
          border-radius: 15px;
        }
        
        #button-blue:hover{
          background-color: #FF9800;
          color: black;
          border: black solid 4px;
        }
          
       
        .ease {
          width: 0px;
          height: 74px;
          background-color: #fbfbfb;
          -webkit-transition: .3s ease;
          -moz-transition: .3s ease;
          -o-transition: .3s ease;
          -ms-transition: .3s ease;
          transition: .3s ease;
        }
        
       
        
        @media only screen and (max-width: 580px) {
          #form-div{
            left: 3%;
            margin-right: 3%;
            width: 88%;
            margin-left: 0;
            padding-left: 3%;
            padding-right: 3%;
          }
        }  
         

        #button {   
          display: inline-block;   
          background-color: #FF9800;   
          width: 60px;   
          text-align: center;   
          border-radius: 15px;   
          margin: 30px;   
          position: fixed;   
          bottom: 30px;   
          right: 30px;   
          transition: background-color .3s;   
          z-index: 1000; 
       } 
       #button:hover {   
          cursor: pointer;   
          background-color: #333; 
       } 
       #button:active {   
          background-color: #555; 
       }     